.vscode/**
.git/**
.github/**
**/*.map
node_modules/**
skills/**
src/**
tsconfig.json
extension.js
*.vsix
package-lock.json
yarn.lock
.yarn/**
.yarnrc.yml
.gitignore
.prettierrc.json
.prettierignore
eslint.config.mjs
.nvmrc
